@model IEnumerable<UEW_Quality_Assurance.Models.Lecturer>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/body.css" />
<link rel="stylesheet" href="~/css/table.css" />

<h3 class="appraisal-header">Email Management Section</h3>



@*<p>
    <a asp-action="Create">Create New</a>
</p>*@

<div class="row mail-body">

    <div class="col-md-6">
        <a asp-controller="Emails" asp-action="Index">Send Mail</a>
    </div>

    <div class="col-md-6">
        <table class="table my-table">
            <thead>
                <tr>
                    <th>
                        Lecturer ID
                    </th>
                    <th>
                        Full Name
                    </th>
                    @*<th>
                            Phone
                        </th>*@
                    <th>
                        E-mail
                    </th>
                    @*<th>
                            Department
                        </th>*@
                    @*<th>
                            All <input type="checkbox" name="name" value="" />
                        </th>*@
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.lecturerID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Lname) @Html.DisplayFor(modelItem => item.Fname)
                        </td>
                        @*<td>
                                @Html.DisplayFor(modelItem => item.Fname)
                            </td>*@
                        @*<td>
                                @Html.DisplayFor(modelItem => item.Phone)
                            </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        @*<td>
                                @Html.DisplayFor(modelItem => item.Department.name)
                            </td>*@
                        @*<td>
                                <input type="checkbox" name="name" value="" />
                            </td>*@
                        <!--<td>
                            @*<a asp-action="Edit" asp-route-id="@item.lecturerID">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.lecturerID">Details</a> |*@
                            @*<a asp-action="Delete" asp-route-id="@item.lecturerID">Delete</a>*@
                        </td>-->

                    </tr>

                }
            </tbody>
        </table>

    </div>
</div>



